<div class="wrapper">
    <div id="formContent">
    <h2>Sign Up</h2>
    <form #userRef = 'ngForm' (ngSubmit) = 'storeUser(userRef.value)' ngNativeValidate>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">First Name</label>
            <div class="col-sm-7">
            <input type="text" class="form-control" name="fname"  required ngModel/>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Last Name</label>
            <div class="col-sm-7">
            <input type="text" class="form-control" name="lname"  required ngModel/>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-7">
            <input type="text" class="form-control" name="email" required ngModel/>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Password</label>
            <div class="col-sm-7">
                <input type="password" class="form-control" name="pass" required ngModel/>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Birthday</label>
            <div class="col-sm-7">
                <input type="date" class="form-control" name="dob" required ngModel/>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Phone Number</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="phone" required ngModel/>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Address</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="address" required ngModel/>
            </div>
        </div>  
        <input id="button" type="submit" class="btn btn-secondary m-2" value='Sign In'/>
        <button type="reset" class="btn btn-light">Reset</button>
    </form>
    <a routerLink="" class="nav-link">Back</a><br>
    </div>
</div>
