<div class="wrapper">
    <div id="formContent">
    <h2>Sign Up</h2>
    <form #userRef = 'ngForm' (ngSubmit) = 'storeUser(userRef.value)'>
        <div class="row mb-2">
            <label class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-8">
            <input type="text" class="form-control" name="fname"  required ngModel/>
            </div>
        </div>
        <div class="row mb-2">
            <label class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-8">
            <input type="text" class="form-control" name="lname"  required ngModel/>
            </div>
        </div>
        <div class="row mb-2">
            <label class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-8">
            <input type="text" class="form-control" name="email" required ngModel/>
            </div>
        </div>
        <div class="row mb-2">
            <label class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="pass" required ngModel/>
            </div>
        </div>
        <div class="row mb-2">
            <label class="col-sm-2 col-form-label">Birthday</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="dob" required ngModel/>
            </div>
        </div>
        <div class="row mb-2">
            <label class="col-sm-2 col-form-label">Phone Number</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="phone" required ngModel/>
            </div>
        </div>
        <div class="row mb-2">
            <label class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="address" required ngModel/>
            </div>
        </div>  
        
        <input id="button" type="submit" class="btn btn-secondary m-2" value='Sign In'/>
        <button type="reset" class="btn btn-light">Reset</button>
    </form>
    <a routerLink="" class="nav-link">Back</a><br>
    </div>
</div>

<!-- <div>
    <h2>Sign Up</h2>
    <form #userRef = 'ngForm' (ngSubmit) = 'storeUser(userRef.value)'>
        <label>Enter First Name: </label>
        <input type="text" name="fname" ngModel> <br>
        <label>Enter Last Name: </label>
        <input type="text" name="lname" ngModel> <br>
        <label>Enter Email: </label>
        <input type="text" name="email" ngModel> <br>
        <label>Enter Password: </label>
        <input type="password" name="pass" ngModel> <br>
        <label>Enter Date of Birth: </label>
        <input type="date" name="dob" ngModel> <br>
        <label>Enter Phone number: </label>
        <input type="text" name="phone" ngModel> <br>
        <label>Enter Address: </label>
        <input type="text" name="address" ngModel> <br>
        <input type="submit" value="Sign In">
        <input type="reset" value="Reset">
    </form>
</div> -->

