<div>
    <table class="table">
        <tr>
            <th>Request Id</th>
            <th>Employee Id</th>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Request</th>
        </tr>
        <tr *ngFor="let r of requests">
            <td>{{r._id}}</td>
            <td>{{r.empID}}</td>
            <td>{{r.productID}}</td>
            <td>{{r.productName}}</td>
            <td>{{r.reqMsg}}</td>
        </tr>
    </table>
</div>
<div>
    <h4>Delete Request</h4>
    <form>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">ID</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" #idRef/>
            </div>
        </div>
        <button type="button" class="btn btn-secondary m-2" (click)="deleteById(idRef.value)">Delete Request</button>
        <button type="reset" class="btn btn-light">Reset</button>
        <br>
        {{resultMsg}}
    </form>
</div>