<div id="wrapper">
<!-- NavBar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <b class="navbar-brand">User ID: {{retrieve}}</b>
        </div>
        <div id="navbarNav" class="navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                </li>
                <li><a routerLink="order-status" class="nav-link"> Order Status</a></li>
                        <li><a routerLink="edit-profile" class="nav-link"> Edit Profile</a></li>
                        <li><a routerLink="select-item" class="nav-link"> Pick Items</a></li>
                <li class="nav-item">
                    <a routerLink="" class="nav-link" (click) = "logout()">Log Out</a>
                </li>
            </ul>
        </div>
    </nav> 
    <br>
    <!-- #navBar -->
    <!-- page content -->
    <div class="container main">
        <div class="row">
            <div class="col" style="border: 3px solid black; margin: 10px; border-radius: 30px;">
                <div class = "container-fluid">
                    <h1 style="text-align: center;">User</h1>
                    <hr>
                    <app-funds></app-funds>
                    <hr>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <!-- #pageContent -->
</div>