
#item {
    position: absolute;
    top:45%;
    left: 50%;
    margin-top: -50px;
    margin-left: -17%;
    width: 30%;
    height: 20%;
    background-color: green;
}
h2 {
    color:white;
    margin-top:10%;
}

h1{
    text-align: center;
    color:darkgreen;
    margin-top: 8px;
    padding: 3px;
  }
  nav{
    background-color: rgb(1, 71, 1);
  }
  
  li{
    color: white;
  }
  
  