<div class="wrapper fadeInDown">
    <div id="formContent">
      <h3>Edit Your Employee Info</h3>
      <form #editRef="ngForm" (ngSubmit)="updateEmpProfile(editRef.value)">
        <input
          type="text"
          name="eid"
          placeholder="Confirm your Emp ID"
          ngModel
        /><br />
        <input
          type="text"
          name="firstname"
          placeholder="First Name"
          ngModel
        /><br />
        <input
          type="text"
          name="lastname"
          placeholder="Last Name"
          ngModel
        /><br />
        <input type="text" name="email" placeholder="E-Mail" ngModel /><br />
        <input type="text" name="password" placeholder="Password" ngModel /><br />
        <input type="submit" value="Submit" />
        <input type="reset" value="Clear" />
      </form>
  
      <a routerLink="" class="nav-link">Back</a><br />
      {{ msg }}
    </div>
  </div>
