<button value = "Display User ID" (click) = "displayID()"></button>
<form #userRef = "ngForm" (ngSubmit) = "updateUserEmail(userRef.value)">
    <label>New Email</label>
    <input type = "password" name = "newEmail" ngModel>
    <input type = "submit" value = "Update">
</form>
<form #userRef = "ngForm" (ngSubmit) = "updateUserPassword(userRef.value)">
    <label>New Password</label>
    <input type = "password" name = "newPass" ngModel>
    <input type = "submit" value = "Update">
</form>
<form #userRef = "ngForm" (ngSubmit) = "updateUserAddress(userRef.value)">
    <label>New Address</label>
    <input type = "password" name = "newAdd" ngModel>
    <input type = "submit" value = "Update">
</form>