<div class="wrapper fadeInDown">
    <div id="formContent">
        <h2>Sign In</h2>
        <form #loginRef="ngForm" (ngSubmit)="checkUser(loginRef.value)">
            <input type="text" name="id" placeholder="Enter your id" ngModel /><br>
            <input type="password" name="pass" placeholder="Enter your password" ngModel /><br>
            <button [disabled]="(numberlogin >=3)" type="submit">Sign In</button>
            <button (click)="goTo()">Sign Up</button>
            <button (click)="goto()">Raise Ticket</button>
        </form>
        {{resultMsg}} <br>
    </div>
</div>