<div class="wrapper fadeInDown">
    <div class="container " id='wraptest'>
        <h2 style="text-align: center;color:rgb(0, 68, 0);">Tickets</h2>
        <form #ticketRef="ngForm" (ngSubmit)=storeTicket(ticketRef.value)>
            <input type="text" name="username" id='username' placeholder="UserID" ngModel><span
                style="color:red">{{msg1}}</span> <br> <br> <br>
            <div> <label style="margin-left:4%">Issue</label> <br>
                <textarea name="reason" id="reason" cols="30" rows="10" ngModel>{{msg2}}</textarea> <br><span
                    style="color:red;margin-left:3%">{{msg2}}</span> <br>
            </div>
            <input type="submit" value="Raise Ticket" style="position: relative; left:65%">
            <a href="../../shopper" style="position: relative;right:20%">Back</a>
        </form>
        <span id='confirm' style="color:blue; position:relative; left:80%"></span>
    </div>
</div>