<div>
    <h4>Add Employee</h4>
    <form #formRef = 'ngForm' (ngSubmit) = 'addEmp(formRef.value)' ngNativeValidate>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Employee's First Name</label>
            <div class="col-sm-7">
            <input type="text" class="form-control" name="fname" require ngModel/>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Employee's Last Name</label>
            <div class="col-sm-7">
            <input type="text" class="form-control" name="lname" require ngModel/>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">Employee's Email</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="email" require ngModel/>
            </div>
        </div>
        
        <button type="submit" class="btn btn-secondary m-2" >Add Employee</button>
        <button type="reset" class="btn btn-light">Reset</button>
    </form>
</div>