<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <b class="navbar-brand">Add Employee</b>
      <div id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <button class="nav-link btn btn-link" (click)="back()">Back</button>
          </li>
        </ul>
      </div>
    </div>
</nav>
<div class="container">
    <div class="row">
      <div class="col">
        <h4>Add Employee</h4>
        <form #formRef = 'ngForm' (ngSubmit) = 'addEmp(formRef.value)' ngNativeValidate>
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Employee's First Name</label>
                <div class="col-sm-7">
                <input type="text" class="form-control" name="fname" required ngModel/>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Employee's Last Name</label>
                <div class="col-sm-7">
                <input type="text" class="form-control" name="lname" required ngModel/>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Employee's Email</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="email" required ngModel/>
                </div>
            </div>
            
            <button type="submit" class="btn btn-secondary m-2" >Add Employee</button>
            <button type="reset" class="btn btn-light">Reset</button>
        </form>
        <div style="color: green;">{{resultMsg}}</div>
        <br>
      </div>
    </div>
</div>