<div class="wrapper fadeInDown">
  <div id="formContent">
    <h3>Enter User ID to Unlock</h3>
    <form #unlockRef="ngForm" (ngSubmit)="unlockUser(unlockRef.value)">
      <input type="text" name="uid" placeholder="User ID" ngModel /><br />
      <input type="submit" value="Unlock" />
    </form>
    <a routerLink=".." class="nav-link">Back</a><br />
    {{ msg }}
  </div>
<br><br>
  <div id="unlockTable">
    <table class="table">
      <tr>
        <th>User ID</th>
        <th>Reason</th>
      </tr>
      <tr *ngFor="let ticket of tickets">
        <td>{{ ticket._id }}</td>
        <td>{{ ticket.reason }}</td>
        <td>
          <button type="submit" (click)="resolvedTicket(ticket._id)">X</button>
        </td>
      </tr>
    </table>
  </div>
</div>
