<div class="wrapper fadeInDown">
  <div id="formContent">
    <h3>Update Order Status</h3>
    <form #updateRef="ngForm" (ngSubmit)="updateOrder(updateRef.value)">
      <input type="text" name="oid" placeholder="Order ID" ngModel /><br />
      <input
        type="text"
        name="orderStatus"
        placeholder="Order Status"
        ngModel
      /><br />
      <input type="submit" value="Submit" />
      <input type="reset" value="Clear" />
    </form>

    <a routerLink=".." class="nav-link">Back</a><br />
    {{ msg }}
  </div>
</div>
